Source: ros-foxy-mimick-vendor
Section: misc
Priority: optional
Maintainer: Jorge J. Perez <jjperez@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-ros-workspace
Homepage: https://github.com/Snaipe/Mimick
Standards-Version: 3.9.2

Package: ros-foxy-mimick-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-ros-workspace
Description: Wrapper around mimick, it provides an ExternalProject build of mimick.
